<!DOCTYPE html>
<html>
<head>
<title>Duet Demo</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="css/duetdemo.css">
<script src="js/duetdemo.js"></script>
</head>
<body>

<div class="content">
    <h1>Duet Demo</h1>
	<p>Spotify Playlist ID:</p>
	<input id="playlistid" value="56ZvXxvlDMstsprTroIG5g">
	<br>
	<button type="button" onclick="sendPlaylist()">Submit</button>
    <div id="playlisturl"></div>
	<div id="dataspot"></div>
    <div id="datayout"></div>
	
    
</div>

</body>
</html>